.App {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    font-size: calc(10px + 2vmin);
    color: white;
}

pre {
    padding: 1rem;
    background-color: lightgray;
}

.inputs-container {
    display: grid;
    grid-template-columns: auto auto;
}

label {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

input {
    width: 50%;
}

button {
    border-radius: 8px;
}

.generator-button {
    margin-top: 1.5rem;
}